In [1]:
# Import Dependencies
import sys, os
import pandas as pd
import numpy as np
import requests
import re
import json
import censusgeocode as cg
from IPython.display import display
from config import nsrdb_api_key, email_address

In [2]:
# Pull country-City Data from world-cities.txt file
data = pd.read_csv('Resources/uscities.csv')
us_cities = pd.DataFrame(data)

In [3]:
# Clean Data for useful variables
clean_cities = us_cities[['city', 'state_name', 'population', 'lat', 'lng']]
clean_cities = clean_cities.rename(columns={'city': 'City', 'state_name': 'State',
                                            'population': 'Population','lat': 'Latitude',
                                            'lng': 'Longitude'})
clean_cities.head()

          City       State  Population  Latitude  Longitude
0     New York    New York    18713220   40.6943   -73.9249
1  Los Angeles  California    12750807   34.1139  -118.4068
2      Chicago    Illinois     8604203   41.8373   -87.6862
3        Miami     Florida     6445545   25.7839   -80.2102
4       Dallas       Texas     5743938   32.7936   -96.7662

In [47]:
# Separate for only Virginia
va_cities = clean_cities[clean_cities['State']=='Virginia']
largest_cities = va_cities.head(5)
largest_cities

               City     State  Population  Latitude  Longitude
38   Virginia Beach  Virginia     1478868   36.7335   -76.0435
45         Richmond  Virginia     1075798   37.5295   -77.4756
185      Chesapeake  Virginia      244835   36.6778   -76.3024
187         Norfolk  Virginia      242742   36.8945   -76.2590
198       Arlington  Virginia      231803   38.8786   -77.1011

In [80]:
# Declare all variables as strings. Spaces must be replaced with '+', i.e., change 'John Smith' to 'John+Smith'.
  # Define the lat, long of the location and the year
lat, lon, year = 38.8786, -77.1011, 2019
  # You must request an NSRDB api key from the link above
api_key = nsrdb_api_key
  # Set the attributes to extract (e.g., dhi, ghi, etc.), separated by commas.
attributes = 'ghi,dhi,dni,wind_speed,air_temperature,solar_zenith_angle'
  # Choose year of data
year19 = '2019'
year18 = '2018'
year17 = '2017'
  # Set leap year to true or false. True will return leap day data if present, false will not.
leap_year = 'false'
  # Set time interval in minutes, i.e., '30' is half hour intervals. Valid intervals are 30 & 60.
interval = '30'
  # Specify Coordinated Universal Time (UTC), 'true' will use UTC, 'false' will use the local time zone of the data.
  # NOTE: In order to use the NSRDB data in SAM, you must specify UTC as 'false'. SAM requires the data to be in the
  # local time zone.
utc = 'false'
  # Your full name, use '+' instead of spaces.
your_name = 'Trent+Little'
  # Your reason for using the NSRDB.
reason_for_use = 'beta+testing'
  # Your affiliation
your_affiliation = 'my+institution'
  # Your email address
your_email = email_address
  # Please join our mailing list so we can keep you up-to-date on new developments.
mailing_list = 'false'

In [81]:
  # Declare url string for 2019 data
url1 = 'https://developer.nrel.gov/api/solar/nsrdb_psm3_download.csv?wkt=POINT({lon}%20{lat})&names={year}&leap_day={leap}&interval={interval}&utc={utc}&full_name={name}&email={email}&affiliation={affiliation}&mailing_list={mailing_list}&reason={reason}&api_key={api}&attributes={attr}'.format(year=year19, lat=lat, lon=lon, leap=leap_year, interval=interval, utc=utc, name=your_name, email=your_email, mailing_list=mailing_list, affiliation=your_affiliation, reason=reason_for_use, api=api_key, attr=attributes)
  # Return just the first 2 lines to get metadata:
info = pd.read_csv(url1, nrows=1)
  # See metadata for specified properties, e.g., timezone and elevation
timezone, elevation = info['Local Time Zone'], info['Elevation']

  # Declare url string for 2018 data
url2 = 'https://developer.nrel.gov/api/solar/nsrdb_psm3_download.csv?wkt=POINT({lon}%20{lat})&names={year}&leap_day={leap}&interval={interval}&utc={utc}&full_name={name}&email={email}&affiliation={affiliation}&mailing_list={mailing_list}&reason={reason}&api_key={api}&attributes={attr}'.format(year=year18, lat=lat, lon=lon, leap=leap_year, interval=interval, utc=utc, name=your_name, email=your_email, mailing_list=mailing_list, affiliation=your_affiliation, reason=reason_for_use, api=api_key, attr=attributes)
  # Return just the first 2 lines to get metadata:
info = pd.read_csv(url2, nrows=1)
  # See metadata for specified properties, e.g., timezone and elevation
timezone, elevation = info['Local Time Zone'], info['Elevation']

  # Declare url string for 2017 data
url3 = 'https://developer.nrel.gov/api/solar/nsrdb_psm3_download.csv?wkt=POINT({lon}%20{lat})&names={year}&leap_day={leap}&interval={interval}&utc={utc}&full_name={name}&email={email}&affiliation={affiliation}&mailing_list={mailing_list}&reason={reason}&api_key={api}&attributes={attr}'.format(year=year17, lat=lat, lon=lon, leap=leap_year, interval=interval, utc=utc, name=your_name, email=your_email, mailing_list=mailing_list, affiliation=your_affiliation, reason=reason_for_use, api=api_key, attr=attributes)
  # Return just the first 2 lines to get metadata:
info = pd.read_csv(url3, nrows=1)
  # See metadata for specified properties, e.g., timezone and elevation
timezone, elevation = info['Local Time Zone'], info['Elevation']

In [87]:
# Return all but first 2 lines of csv to get data for 2019:
df19 = pd.read_csv('https://developer.nrel.gov/api/solar/nsrdb_psm3_download.csv?wkt=POINT({lon}%20{lat})&names={year}&leap_day={leap}&interval={interval}&utc={utc}&full_name={name}&email={email}&affiliation={affiliation}&mailing_list={mailing_list}&reason={reason}&api_key={api}&attributes={attr}'.format(year=year19, lat=lat, lon=lon, leap=leap_year, interval=interval, utc=utc, name=your_name, email=your_email, mailing_list=mailing_list, affiliation=your_affiliation, reason=reason_for_use, api=api_key, attr=attributes), skiprows=2)
# Set the time index in the pandas dataframe:
df19 = df19.set_index(pd.date_range('1/1/{yr}'.format(yr=year19), freq=interval+'Min', periods=525600/int(interval)))

# Return all but first 2 lines of csv to get data for 2018:
df18 = pd.read_csv('https://developer.nrel.gov/api/solar/nsrdb_psm3_download.csv?wkt=POINT({lon}%20{lat})&names={year}&leap_day={leap}&interval={interval}&utc={utc}&full_name={name}&email={email}&affiliation={affiliation}&mailing_list={mailing_list}&reason={reason}&api_key={api}&attributes={attr}'.format(year=year18, lat=lat, lon=lon, leap=leap_year, interval=interval, utc=utc, name=your_name, email=your_email, mailing_list=mailing_list, affiliation=your_affiliation, reason=reason_for_use, api=api_key, attr=attributes), skiprows=2)
# Set the time index in the pandas dataframe:
df18 = df18.set_index(pd.date_range('1/1/{yr}'.format(yr=year18), freq=interval+'Min', periods=525600/int(interval)))

# Return all but first 2 lines of csv to get data for 2017:
df17 = pd.read_csv('https://developer.nrel.gov/api/solar/nsrdb_psm3_download.csv?wkt=POINT({lon}%20{lat})&names={year}&leap_day={leap}&interval={interval}&utc={utc}&full_name={name}&email={email}&affiliation={affiliation}&mailing_list={mailing_list}&reason={reason}&api_key={api}&attributes={attr}'.format(year=year17, lat=lat, lon=lon, leap=leap_year, interval=interval, utc=utc, name=your_name, email=your_email, mailing_list=mailing_list, affiliation=your_affiliation, reason=reason_for_use, api=api_key, attr=attributes), skiprows=2)
# Set the time index in the pandas dataframe:
df17 = df17.set_index(pd.date_range('1/1/{yr}'.format(yr=year17), freq=interval+'Min', periods=525600/int(interval)))

,Year,Month,Day,Hour,Minute,GHI,DHI,DNI,Wind Speed,Temperature,Solar Zenith Angle
2017-01-01 00:00:00,2017,1,1,0,0,0,0,0,3.3,1,163.89
2017-01-01 00:30:00,2017,1,1,0,30,0,0,0,3.1,1,163.63
2017-01-01 01:00:00,2017,1,1,1,0,0,0,0,3.0,1,161.08
2017-01-01 01:30:00,2017,1,1,1,30,0,0,0,2.8,0,157.00
2017-01-01 02:00:00,2017,1,1,2,0,0,0,0,2.6,0,152.07
...,...,...,...,...,...,...,...,...,...,...,...
2017-12-31 21:30:00,2017,12,31,21,30,0,0,0,4.0,2,142.21
2017-12-31 22:00:00,2017,12,31,22,0,0,0,0,3.8,2,147.81
2017-12-31 22:30:00,2017,12,31,22,30,0,0,0,3.6,1,153.13
2017-12-31 23:00:00,2017,12,31,23,0,0,0,0,3.4,1,157.93
2017-12-31 23:30:00,2017,12,31,23,30,0,0,0,3.3,1,161.76

In [88]:
#Concatenate Data frames
frames = [df17, df18, df19]
df = pd.concat(frames)
df

,Year,Month,Day,Hour,Minute,GHI,DHI,DNI,Wind Speed,Temperature,Solar Zenith Angle
2017-01-01 00:00:00,2017,1,1,0,0,0,0,0,3.3,1.0,163.89
2017-01-01 00:30:00,2017,1,1,0,30,0,0,0,3.1,1.0,163.63
2017-01-01 01:00:00,2017,1,1,1,0,0,0,0,3.0,1.0,161.08
2017-01-01 01:30:00,2017,1,1,1,30,0,0,0,2.8,0.0,157.00
2017-01-01 02:00:00,2017,1,1,2,0,0,0,0,2.6,0.0,152.07
...,...,...,...,...,...,...,...,...,...,...,...
2019-12-31 21:30:00,2019,12,31,21,30,0,0,0,3.4,9.3,142.29
2019-12-31 22:00:00,2019,12,31,22,0,0,0,0,3.7,9.8,147.89
2019-12-31 22:30:00,2019,12,31,22,30,0,0,0,4.0,10.3,153.21
2019-12-31 23:00:00,2019,12,31,23,0,0,0,0,4.2,10.7,158.01
2019-12-31 23:30:00,2019,12,31,23,30,0,0,0,4.3,11.2,161.83

In [69]:
#import additional module for SAM simulation:
import site
  # Use site.addsitedir() to set the path to the SAM SDK API. Set path to the python directory.
site.addsitedir('/Applications/sam-sdk-2015-6-30-r3/languages/python/')
import sscapi
ssc = sscapi.PySSC()

  # Resource inputs for SAM model:
wfd = ssc.data_create()
ssc.data_set_number(wfd, 'lat', lat)
ssc.data_set_number(wfd, 'lon', lon)
ssc.data_set_number(wfd, 'tz', timezone)
ssc.data_set_number(wfd, 'elev', elevation)
ssc.data_set_array(wfd, 'year', df.index.year)
ssc.data_set_array(wfd, 'month', df.index.month)
ssc.data_set_array(wfd, 'day', df.index.day)
ssc.data_set_array(wfd, 'hour', df.index.hour)
ssc.data_set_array(wfd, 'minute', df.index.minute)
ssc.data_set_array(wfd, 'dn', df['DNI'])
ssc.data_set_array(wfd, 'df', df['DHI'])
ssc.data_set_array(wfd, 'wspd', df['Wind Speed'])
ssc.data_set_array(wfd, 'tdry', df['Temperature'])

  # Create SAM compliant object  
dat = ssc.data_create()
ssc.data_set_table(dat, 'solar_resource_data', wfd)
ssc.data_free(wfd)

  # Specify the system Configuration
  # Set system capacity in MW
system_capacity = 4
ssc.data_set_number(dat, 'system_capacity', system_capacity)
  # Set DC/AC ratio (or power ratio). See https://sam.nrel.gov/sites/default/files/content/virtual_conf_july_2013/07-sam-virtual-conference-2013-woodcock.pdf
ssc.data_set_number(dat, 'dc_ac_ratio', 1.1)
  # Set tilt of system in degrees
ssc.data_set_number(dat, 'tilt', 25)
  # Set azimuth angle (in degrees) from north (0 degrees)
ssc.data_set_number(dat, 'azimuth', 180)
  # Set the inverter efficency
ssc.data_set_number(dat, 'inv_eff', 96)
  # Set the system losses, in percent
ssc.data_set_number(dat, 'losses', 14.0757)
  # Specify fixed tilt system (0=Fixed, 1=Fixed Roof, 2=1 Axis Tracker, 3=Backtracted, 4=2 Axis Tracker)
ssc.data_set_number(dat, 'array_type', 0)
  # Set ground coverage ratio
ssc.data_set_number(dat, 'gcr', 0.4)
  # Set constant loss adjustment
ssc.data_set_number(dat, 'adjust:constant', 0)

  # execute and put generation results back into dataframe
mod = ssc.module_create('pvwattsv5')
ssc.module_exec(mod, dat)
df['generation'] = np.array(ssc.data_get_array(dat, 'gen'))

  # free the memory
ssc.data_free(dat)
ssc.module_free(mod)

ModuleNotFoundError: No module named 'sscapi'

In [44]:
#Virginia Beach
year = "2019"
name = "Trent%20Little"

url = f'https://developer.nrel.gov/api/nsrdb/v2/solar/psm3-tmy-download.json?api_key={nsrdb_api_key}'
payload = f"wkt=POINT(-76.0435%2036.7335)&attributes=dhi%2Cdni%2Cghi%2Cdew_point%2Cair_temperature%2Csurface_pressure%2Cwind_direction%2Cwind_speed%2Csurface_albedo%2C%2C%2C&names=tmy&full_name={name}&email={email_address}&affiliation=NREL&mailing_list=false&reason=test&utc=true"

headers = {'content-type': 'application/x-www-form-urlencoded',
          'cache-control': 'no-cache'}
response = requests.get(url, data = payload, headers = headers)
print(response.text)

{"inputs":{"wkt":"POINT(-76.0435 36.7335)","attributes":"dhi,dni,ghi,dew_point,air_temperature,surface_pressure,wind_direction,wind_speed,surface_albedo,,,","names":"tmy","full_name":"Trent Little","email":"trent.e.little@gmail.com","affiliation":"NREL","mailing_list":"false","reason":"test","utc":"true"},"metadata":{"version":"2.0.0","resultset":{"count":1}},"status":200,"outputs":{"message":"File generation in progress. An email will be sent to trent.e.little@gmail.com when the download is ready.","downloadUrl":"https://mapfiles.nrel.gov/data/solar/ac60481eb72f1bc50cc592ff04734674.zip"},"errors":[]}

In [45]:
#Richmond
url = f'https://developer.nrel.gov/api/nsrdb/v2/solar/psm3-tmy-download.json?api_key={nsrdb_api_key}'
payload = f"wkt=POINT(-77.4756%2037.5295)&attributes=dhi%2Cdni%2Cghi%2Cdew_point%2Cair_temperature%2Csurface_pressure%2Cwind_direction%2Cwind_speed%2Csurface_albedo%2C%2C%2C&names=tmy&full_name={name}&email={email_address}&affiliation=NREL&mailing_list=false&reason=test&utc=true"

headers = {'content-type': 'application/x-www-form-urlencoded',
          'cache-control': 'no-cache'}
response = requests.get(url, data = payload, headers = headers)
print(response.text)

{"inputs":{"wkt":"POINT(-77.4756 37.5295)","attributes":"dhi,dni,ghi,dew_point,air_temperature,surface_pressure,wind_direction,wind_speed,surface_albedo,,,","names":"tmy","full_name":"Trent Little","email":"trent.e.little@gmail.com","affiliation":"NREL","mailing_list":"false","reason":"test","utc":"true"},"metadata":{"version":"2.0.0","resultset":{"count":1}},"status":200,"outputs":{"message":"File generation in progress. An email will be sent to trent.e.little@gmail.com when the download is ready.","downloadUrl":"https://mapfiles.nrel.gov/data/solar/2f8dd7cdb6c77fb34cbb02ec01cf4a5b.zip"},"errors":[]}

In [46]:
#Chesapeake
url = f'https://developer.nrel.gov/api/nsrdb/v2/solar/psm3-tmy-download.json?api_key={nsrdb_api_key}'
payload = f"wkt=POINT(-76.3024%2036.6778)&attributes=dhi%2Cdni%2Cghi%2Cdew_point%2Cair_temperature%2Csurface_pressure%2Cwind_direction%2Cwind_speed%2Csurface_albedo%2C%2C%2C&names=tmy&full_name={name}&email={email_address}&affiliation=NREL&mailing_list=false&reason=test&utc=true"

headers = {'content-type': 'application/x-www-form-urlencoded',
          'cache-control': 'no-cache'}
response = requests.get(url, data = payload, headers = headers)
print(response.text)

{"inputs":{"wkt":"POINT(-76.3024 36.6778)","attributes":"dhi,dni,ghi,dew_point,air_temperature,surface_pressure,wind_direction,wind_speed,surface_albedo,,,","names":"tmy","full_name":"Trent Little","email":"trent.e.little@gmail.com","affiliation":"NREL","mailing_list":"false","reason":"test","utc":"true"},"metadata":{"version":"2.0.0","resultset":{"count":1}},"status":200,"outputs":{"message":"File generation in progress. An email will be sent to trent.e.little@gmail.com when the download is ready.","downloadUrl":"https://mapfiles.nrel.gov/data/solar/a64acdcfbc06ddcf526eae62e977819c.zip"},"errors":[]}

In [48]:
#Norfolk
url = f'https://developer.nrel.gov/api/nsrdb/v2/solar/psm3-tmy-download.json?api_key={nsrdb_api_key}'
payload = f"wkt=POINT(-76.2590%2036.8945)&attributes=dhi%2Cdni%2Cghi%2Cdew_point%2Cair_temperature%2Csurface_pressure%2Cwind_direction%2Cwind_speed%2Csurface_albedo%2C%2C%2C&names=tmy&full_name={name}&email={email_address}&affiliation=NREL&mailing_list=false&reason=test&utc=true"

headers = {'content-type': 'application/x-www-form-urlencoded',
          'cache-control': 'no-cache'}
response = requests.get(url, data = payload, headers = headers)
print(response.text)

{"inputs":{"wkt":"POINT(-76.2590 36.8945)","attributes":"dhi,dni,ghi,dew_point,air_temperature,surface_pressure,wind_direction,wind_speed,surface_albedo,,,","names":"tmy","full_name":"Trent Little","email":"trent.e.little@gmail.com","affiliation":"NREL","mailing_list":"false","reason":"test","utc":"true"},"metadata":{"version":"2.0.0","resultset":{"count":1}},"status":200,"outputs":{"message":"File generation in progress. An email will be sent to trent.e.little@gmail.com when the download is ready.","downloadUrl":"https://mapfiles.nrel.gov/data/solar/94bd8eee047e328f10806a386586126b.zip"},"errors":[]}

In [50]:
#Arlington
url = f'https://developer.nrel.gov/api/nsrdb/v2/solar/psm3-tmy-download.json?api_key={nsrdb_api_key}'
payload = f"wkt=POINT(-77.1011%2038.8786)&attributes=dhi%2Cdni%2Cghi%2Cdew_point%2Cair_temperature%2Csurface_pressure%2Cwind_direction%2Cwind_speed%2Csurface_albedo%2C%2C%2C&names=tmy&full_name={name}&email={email_address}&affiliation=NREL&mailing_list=false&reason=test&utc=true"

headers = {'content-type': 'application/x-www-form-urlencoded',
          'cache-control': 'no-cache'}
response = requests.get(url, data = payload, headers = headers)
print(response.text)

{"inputs":{"wkt":"POINT(-77.1011 38.8786)","attributes":"dhi,dni,ghi,dew_point,air_temperature,surface_pressure,wind_direction,wind_speed,surface_albedo,,,","names":"tmy","full_name":"Trent Little","email":"trent.e.little@gmail.com","affiliation":"NREL","mailing_list":"false","reason":"test","utc":"true"},"metadata":{"version":"2.0.0","resultset":{"count":1}},"status":200,"outputs":{"message":"File generation in progress. An email will be sent to trent.e.little@gmail.com when the download is ready.","downloadUrl":"https://mapfiles.nrel.gov/data/solar/606a6824c9a4bf72e00afb07d53d2fb9.zip"},"errors":[]}

In [51]:
arlington_solar_df = pd.read_csv('Resources/solar_data/arlington.csv')
arlington_solar_df.head()

,Source,Location ID,City,State,Country,Latitude,Longitude,Time Zone,Elevation,Local Time Zone,Dew Point Units,DHI Units,DNI Units,GHI Units,Temperature Units,Pressure Units,Wind Direction Units,Wind Speed,Surface Albedo Units,Version
0,NSRDB,1143431,-,-,-,38.89,-77.1,0,78,-5,c,w/m2,w/m2,w/m2,c,mbar,Degrees,m/s,NaN,3.1.1
1,Year,Month,Day,Hour,Minute,DHI,DNI,GHI,Dew Point,Temperature,Pressure,Wind Direction,Wind Speed,Surface Albedo,NaN,NaN,NaN,NaN,NaN,NaN
2,2018,1,1,0,30,0,0,0,-14.5,-8.9,1020,328,3.1,0.12,NaN,NaN,NaN,NaN,NaN,NaN
3,2018,1,1,1,30,0,0,0,-14.5,-9.3,1020,331,3,0.12,NaN,NaN,NaN,NaN,NaN,NaN
4,2018,1,1,2,30,0,0,0,-14.5,-9.600000000000001,1020,333,2.9000000000000004,0.12,NaN,NaN,NaN,NaN,NaN,NaN